@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B111c;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e2939;
}

::-webkit-scrollbar-thumb {
  background: #00c951;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00b048;
}